<div class="wrapper">
	<div class="container">
		<form class="form">
			<table>
				<thead><h1>Registrarse</h1></thead>
				<tbody>
					<tr><td><input type="text" placeholder="Nombre" [(ngModel)]="nombre" name="nombre"></td></tr>
					<tr><td><input type="text" placeholder="E-mail" [(ngModel)]="email" name="email"></td></tr>
					<tr><td>			
						<input type="password" class="btnRegistrarse" style="flex-basis: 50%;" placeholder="Contraseña" [(ngModel)]="password" name="password">
					</td>
					</tr>
					<tr><td>
						<button type="submit" id="login-button" class="btnRegistrarse" (click)="registrarse()">Registrarse</button>
					</td></tr>
				</tbody>
			</table>
		</form>
	</div>
</div>